<%= provide(:title, 'Ask a Question') %>
<h1>Ask a Question</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@question) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <p>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </p>

      <p>
        <%= f.label :description %>
        <%= f.text_area :description, rows: 10 %>
      </p>

      <p>
        <%= label_tag :topics, 'Topics (Comma seperated)' %> 
        <%= text_field_tag :topics %>
      </p>

      <%= f.submit "Ask Question", :class => "btn btn-large btn-primary" %>

    <% end %>
  </div>
</div>
